<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.pethome.org.mapper.ShopMapper">
    <insert id="save" parameterType="Shop">
        insert into t_shop( name, tel,registerTime,state,address,logo,admin_id)
        values(#{name}, #{tel}, #{registerTime}, #{state},#{address},#{logo},#{admin.id})
    </insert>
    <update id="update" parameterType="Shop">
        update t_shop set name=#{name},tel=#{tel},registerTime=#{registerTime},state=#{state},address=#{address},logo=#{logo},admin_id=#{admin.id} WHERE  id=#{id}
    </update>
    <delete id="delete" parameterType="long">
        delete from t_shop where id=#{id}
    </delete>
    <!--    //分页查询总条数-->
    <!--    Long queryCount(BaseQuery baseQuery);-->
    <select id="queryCount" parameterType="ShopQuery" resultType="long">
        select count(*) from t_shop t
        <include refid="query"/>
    </select>
    <!--    //查询当前页数-->
    <!--    List<T> findByQuery(BaseQuery baseQuery);-->
    <select id="findByQuery" parameterType="ShopQuery" resultType="Shop">
        select t.* from t_shop t
        <include refid="query"/>
        limit #{start},#{pageSize}
    </select>
    <sql id="query">
        <where>
            <if test="keyWord!=null and keyWord!=''">
                AND t.name LIKE concat('%',#{keyWord},'%')
            </if>
            <if test="state!=-1">
                AND t.state =#{state}
            </if>
        </where>
    </sql>
</mapper>